<!-- BEGIN PAGE HEAD -->
<div class="page-head">
  <div class="container">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>Configure: seaviewholidays.rentify.com
        <small>configure themes, styling, property details and pages</small>
      </h1>
    </div>
    <!-- END PAGE TITLE -->
  </div>
</div>
<!-- END PAGE HEAD -->

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <!-- BEGIN PAGE CONTENT INNER -->

    <div class="row">
      <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder">
          <ul class="nav nav-tabs">
            <li>
              <a href="#/configuresitetheme" data-toggle="tab" aria-expanded="false">
                Theme and Styling</a>
            </li>
            <li class="active">
              <a href="#/configuresiteproperties" data-toggle="tab" aria-expanded="false">
                Properties</a>
            </li>
            <li>
              <a href="#/configuresitepages" data-toggle="tab" aria-expanded="true">
                Pages</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active">
              <!-- BEGIN TAB CONTENT -->

              <div class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <span class="navbar-brand">
                    Configure Property: Property One </span>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav">
                    <li class=""><a href="#/configurepropertyoverview">Overview</a></li>
                    <li class=""><a href="#/configurepropertylocation">Location</a></li>
                    <li class=""><a href="#/configurepropertygallery">Gallery</a></li>
                    <li class="active"><a href="#/configurepropertyrates">Rates</a></li>
                    <li class=""><a href="#/configurepropertycontacts">Contact</a></li>
                    <li class=""><a href="#/configurepropertyreviews">Reviews</a></li>
                  </ul>
                </div>
                <!-- /.navbar-collapse -->
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">Seasonal Rates</h4>
                </div>
                <div class="panel-collapse collapse in" aria-expanded="true">
                  <div class="panel-body">
                    <p>
                      Below users can create multiple different rates for different seasons of the year using the simple from and to date pickers.
                    </p>

                    <div class="row">
    <span class="col-md-9">
      <p class="pull-right"><button class="btn btn-success">Add</button></p>
  <table class="table">
    <thead>
    <th>From</th>
    <th>To</th>
    <th>Daily Rate (ZAR)</th>
    <th>Weekly Rate (ZAR)</th>
    <th>Monthly Rate (ZAR)</th>
    </thead>
    <tbody>
    <tr>
      <td>
        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="dd-MMM-yyyy" ng-model="fromDate"  is-open="fromopened" datepicker-options="dateOptions" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
      </td>
      <td>
        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="dd-MMM-yyyy" ng-model="toDate"  is-open="toopened" datepicker-options="dateOptions" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
    </tr>
    </tbody>
  </table>
      </span>
                    </div>

                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">Notes</h4>
                </div>
                <div class="panel-collapse collapse in" aria-expanded="true">
                  <div class="panel-body">
                    <div class="form-group">
                      <label for="ratesNotes">Enter specific information about your rates for your client to read:</label>
                      <textarea id="ratesNotes" class="form-control" rows="3"></textarea>
                    </div>
                  </div>
                </div>
              </div>


              <!-- END TAB CONTENT -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
