<!-- BEGIN PAGE HEAD -->
<div class="page-head">
  <div class="container">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>Configure: seaviewholidays.rentify.com
        <small>configure themes, styling, property details and pages</small>
      </h1>
    </div>
    <!-- END PAGE TITLE -->
  </div>
</div>
<!-- END PAGE HEAD -->

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <!-- BEGIN PAGE CONTENT INNER -->

    <div class="row">
      <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder">
          <ul class="nav nav-tabs">
            <li>
              <a href="#/configuresitetheme" data-toggle="tab" aria-expanded="false">
                Theme and Styling</a>
            </li>
            <li class="active">
              <a href="#/configuresiteproperties" data-toggle="tab" aria-expanded="false">
                Properties</a>
            </li>
            <li>
              <a href="#/configuresitepages" data-toggle="tab" aria-expanded="true">
                Pages</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active">
              <!-- BEGIN TAB CONTENT -->
              <div class="row">
                <h4 class="col-md-11">Properties that this website will advertise</h4>
    <span class="col-md-1">
      <a href="#/configurepropertyoverview" class="btn btn-success btn-xs btn-block">Add</a>
    </span>

              </div>

              <div class="row">
    <span class="col-md-9">
      <div class="row">
    <span class="col-md-3" data-ng-repeat="property in vm.properties">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">{{property.name}}</h1>
        </div>
        <div class="panel-body">
        <span>
          <a class="btn btn-info btn-xs" href="#/configurepropertyoverview">Edit</a>
          <button class="btn btn-danger btn-xs" data-ng-click="vm.deleteProperty(property)">Delete</button>
        </span>
        </div>
      </div>
    </span>
      </div>
    </span>
              </div>

              <!-- END TAB CONTENT -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
