<!-- BEGIN PAGE HEAD -->
<div class="page-head">
  <div class="container">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>Configure: seaviewholidays.rentify.com
        <small>configure themes, styling, property details and pages</small>
      </h1>
    </div>
    <!-- END PAGE TITLE -->
  </div>
</div>
<!-- END PAGE HEAD -->

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <!-- BEGIN PAGE CONTENT INNER -->

    <div class="row">
      <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder">
          <ul class="nav nav-tabs">
            <li>
              <a href="#/configuresitetheme" data-toggle="tab" aria-expanded="false">
                Theme and Styling</a>
            </li>
            <li class="active">
              <a href="#/configuresiteproperties" data-toggle="tab" aria-expanded="false">
                Properties</a>
            </li>
            <li>
              <a href="#/configuresitepages" data-toggle="tab" aria-expanded="true">
                Pages</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active">
              <!-- BEGIN TAB CONTENT -->

              <div class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <span class="navbar-brand">
                    Configure Property: Property One </span>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav">
                    <li class=""><a href="#/configurepropertyoverview">Overview</a></li>
                    <li class=""><a href="#/configurepropertylocation">Location</a></li>
                    <li class=""><a href="#/configurepropertygallery">Gallery</a></li>
                    <li class=""><a href="#/configurepropertyrates">Rates</a></li>
                    <li class="active"><a href="#/configurepropertycontacts">Contact</a></li>
                    <li class=""><a href="#/configurepropertyreviews">Reviews</a></li>
                  </ul>
                </div>
                <!-- /.navbar-collapse -->
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">Contact Details</h4>
                </div>
                <div class="panel-collapse collapse in" aria-expanded="true">
                  <div class="panel-body">
                    <p>These are the contact details that your customers will see on the 'Contact' page of your website.</p>

                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" id="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="phone">Phone number</label>
                      <input type="text" id="phone" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="additionalphone">Additional phone number</label>
                      <input type="text" id="additionalphone" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" id="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="description">Describe yourself</label>
                      <textarea id="description" class="form-control" rows="3"></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <!-- END TAB CONTENT -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

