<!-- BEGIN PAGE HEAD -->
<div class="page-head">
  <div class="container">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>Configure: seaviewholidays.rentify.com
        <small>configure themes, styling, property details and pages</small>
      </h1>
    </div>
    <!-- END PAGE TITLE -->
  </div>
</div>
<!-- END PAGE HEAD -->

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <!-- BEGIN PAGE CONTENT INNER -->

    <div class="row">
      <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder">
          <ul class="nav nav-tabs">
            <li>
              <a href="#/configuresitetheme" data-toggle="tab" aria-expanded="false">
                Theme and Styling</a>
            </li>
            <li class="active">
              <a href="#/configuresiteproperties" data-toggle="tab" aria-expanded="false">
                Properties</a>
            </li>
            <li>
              <a href="#/configuresitepages" data-toggle="tab" aria-expanded="true">
                Pages</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active">
              <!-- BEGIN TAB CONTENT -->

              <div class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <span class="navbar-brand">
                    Configure Property: Property One </span>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav">
                    <li class=""><a href="#/configurepropertyoverview">Overview</a></li>
                    <li class=""><a href="#/configurepropertylocation">Location</a></li>
                    <li class=""><a href="#/configurepropertygallery">Gallery</a></li>
                    <li class=""><a href="#/configurepropertyrates">Rates</a></li>
                    <li class=""><a href="#/configurepropertycontacts">Contact</a></li>
                    <li class="active"><a href="#/configurepropertyreviews">Reviews</a></li>
                  </ul>
                </div>
                <!-- /.navbar-collapse -->
              </div>


              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">Reviews</h4>
                </div>
                <div class="panel-collapse collapse in" aria-expanded="true">
                  <div class="panel-body">
                    <div class="clearfix">
                      <p>Below is a review management system where the owner of the website can manage all reviews on
                        the
                        site.</p>

                      <p class="pull-right">
                        <button class="btn btn-success">Add Review</button>
                      </p>
                    </div>

                    <div class="portlet light bg-inverse">
                      <div class="portlet-title">
                        <div class="caption">
                          <i class="icon-speech font-green-haze"></i>
										<span class="caption-subject bold font-green-haze uppercase">
										John Doe </span>
                          <span class="caption-helper">from rentify on Jan 2015 [4 starts]</span>
                        </div>
                        <div class="actions">
                          <div class="btn-group" dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                              Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="">Accept</a></li>
                              <li><a href="">Reject</a></li>
                              <li class="divider"></li>
                              <li><a href="">Respond to reviewer</a></li>
                              <li><a href="">Edit review</a></li>
                              <li><a href="">Delete</a></li>
                            </ul>
                          </div>
                      </div>
                        </div>
                      <div class="portlet-body">
                        <h4>Lovely stay!!!</h4>

                        <p>I had a wonderfl stay and would definitely return. Only 4 starts because the toilet didn't
                          flush!</p>

                        <p>
                          Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
                          elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus,
                          nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit
                          amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia
                          odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non
                          commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
                          consectetur purus sit amet fermentum.
                        </p>
                      </div>
                    </div>

                    <div class="portlet light bg-inverse">
                      <div class="portlet-title">
                        <div class="caption">
                          <i class="icon-speech font-green-haze"></i>
										<span class="caption-subject bold font-green-haze uppercase">
										Sarah MacMann </span>
                          <span class="caption-helper">from website on Dec 2014 [1 starts]</span>
                        </div>
                        <div class="actions">
                          <div class="btn-group" dropdown is-open="status.isopen2">
                            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                              Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="">Accept</a></li>
                              <li><a href="">Reject</a></li>
                              <li class="divider"></li>
                              <li><a href="">Respond to reviewer</a></li>
                              <li><a href="">Edit review</a></li>
                              <li><a href="">Delete</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="portlet-body">
                        <h4>Shocking don't go there!!!</h4>

                        <p>There were freaking cockaroaches in my bedding!!! For crying out loud!!!</p>

                        <p>
                          Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
                          elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus,
                          nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit
                          amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia
                          odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non
                          commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
                          consectetur purus sit amet fermentum.
                        </p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>


              <!-- END TAB CONTENT -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

