<!-- BEGIN PAGE HEAD -->
<div class="page-head">
  <div class="container">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>Configure: seaviewholidays.rentify.com
        <small>configure themes, styling, property details and pages</small>
      </h1>
    </div>
    <!-- END PAGE TITLE -->
  </div>
</div>
<!-- END PAGE HEAD -->

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <!-- BEGIN PAGE CONTENT INNER -->

    <div class="row">
      <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder">
          <ul class="nav nav-tabs">
            <li>
              <a href="#/configuresitetheme" data-toggle="tab" aria-expanded="false">
                Theme and Styling</a>
            </li>
            <li class="active">
              <a href="#/configuresiteproperties" data-toggle="tab" aria-expanded="false">
                Properties</a>
            </li>
            <li>
              <a href="#/configuresitepages" data-toggle="tab" aria-expanded="true">
                Pages</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active">
              <!-- BEGIN TAB CONTENT -->

              <div class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <span class="navbar-brand">
                    Configure Property: Property One </span>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav">
                    <li class=""><a href="#/configurepropertyoverview">Overview</a></li>
                    <li class=""><a href="#/configurepropertylocation">Location</a></li>
                    <li class="active"><a href="#/configurepropertygallery">Gallery</a></li>
                    <li class=""><a href="#/configurepropertyrates">Rates</a></li>
                    <li class=""><a href="#/configurepropertycontacts">Contact</a></li>
                    <li class=""><a href="#/configurepropertyreviews">Reviews</a></li>
                  </ul>
                </div>
                <!-- /.navbar-collapse -->
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">Galleries</h4>
                </div>
                <div class="panel-collapse collapse in" aria-expanded="true">
                  <div class="panel-body">
                    <div class="form-group">
                      <p>Users should be able to manage (add / edit / delete) multiple galleries. </p><p>Galleries are assigned a name and longer description as well as a default image inside of the gallery. </p><p>Images are uploaded to galleries and can be assigned a caption. One image per gallery is marked as the default or primary image for that gallery</p><p>Each individual image has a unique identifier which can be used when referencing images in custom page markup.</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- END TAB CONTENT -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
