<!-- BEGIN PAGE HEAD -->
<div class="page-head">
  <div class="container">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>Configure: seaviewholidays.rentify.com
        <small>configure themes, styling, property details and pages</small>
      </h1>
    </div>
    <!-- END PAGE TITLE -->
  </div>
</div>
<!-- END PAGE HEAD -->

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <!-- BEGIN PAGE CONTENT INNER -->

    <div class="row">
      <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder">
          <ul class="nav nav-tabs">
            <li>
              <a href="#/configuresitetheme" data-toggle="tab" aria-expanded="false">
                Theme and Styling</a>
            </li>
            <li class="active">
              <a href="#/configuresiteproperties" data-toggle="tab" aria-expanded="false">
                Properties</a>
            </li>
            <li>
              <a href="#/configuresitepages" data-toggle="tab" aria-expanded="true">
                Pages</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active">
              <!-- BEGIN TAB CONTENT -->

              <div class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <span class="navbar-brand">
                    Configure Property: Property One </span>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#/configurepropertyoverview">Overview</a></li>
                    <li class=""><a href="#/configurepropertylocation">Location</a></li>
                    <li class=""><a href="#/configurepropertygallery">Gallery</a></li>
                    <li class=""><a href="#/configurepropertyrates">Rates</a></li>
                    <li class=""><a href="#/configurepropertycontacts">Contact</a></li>
                    <li class=""><a href="#/configurepropertyreviews">Reviews</a></li>
                  </ul>
                </div>
                <!-- /.navbar-collapse -->
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">Description</h4>
                </div>
                <div class="panel-collapse collapse in" aria-expanded="true">
                  <div class="panel-body">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" id="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="headline">Headline / Blurb</label>
                      <input type="text" id="headline" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="propertyDescription">Property description</label>
                      <textarea id="propertyDescription" class="form-control" rows="3"></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">Details</h4>
                </div>
                <div class="panel-collapse collapse in" aria-expanded="true">
                  <div class="panel-body">
                    <div class="form-group col-md-6">
                      <label for="sleeps">Sleeps:</label>
                      <input type="number" id="sleeps" class="form-control" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="squaremeters">Size in sqaure meters:</label>
                      <input type="number" id="squaremeters" class="form-control" required>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">Rooms</h4>
                </div>
                <div class="panel-collapse collapse in" aria-expanded="true">
                  <div class="panel-body">
                    <div class="row margin-top-10">
                      <label class="col-md-1">Bedrooms</label>

                      <div class="col-md-2">
                        <select class="form-control input-xsmall">
                          <option>0</option>
                          <option selected>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                        </select></div>
                      <label class="col-md-1">Lounges</label>

                      <div class="col-md-2">
                        <select class="form-control input-xsmall">
                          <option>0</option>
                          <option selected>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                        </select></div>
                      <label class="col-md-1">Dining Rooms</label>

                      <div class="col-md-2">
                        <select class="form-control input-xsmall">
                          <option>0</option>
                          <option selected>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                        </select></div>
                    </div>
                    <div class="row margin-top-10">
                      <label class="col-md-1">Kitchens</label>

                      <div class="col-md-2">
                        <select class="form-control input-xsmall">
                          <option>0</option>
                          <option selected>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                        </select></div>
                      <label class="col-md-1">Bathrooms</label>

                      <div class="col-md-2">
                        <select class="form-control input-xsmall">
                          <option>0</option>
                          <option selected>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                        </select></div>
                      <label class="col-md-1">Balcony</label>

                      <div class="col-md-2">
                        <select class="form-control input-xsmall">
                          <option>0</option>
                          <option selected>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                        </select></div>
                    </div>
                    <div class="row margin-top-10">
                      <label class="col-md-1">Toilet</label>

                      <div class="col-md-2">
                        <select class="form-control input-xsmall">
                          <option>0</option>
                          <option selected>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                        </select></div>
                      <label class="col-md-1">Cloak Room</label>

                      <div class="col-md-2">
                        <select class="form-control input-xsmall">
                          <option>0</option>
                          <option selected>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                        </select></div>
                      <label class="col-md-1">Scullery</label>

                      <div class="col-md-2">
                        <select class="form-control input-xsmall">
                          <option>0</option>
                          <option selected>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                        </select></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">Property Facts</h4>
                </div>
                <div class="panel-collapse collapse in" aria-expanded="true">
                  <div class="panel-body">

                    <div class="row margin-top-10">
                      <span class="col-md-4"><input type="checkbox"> Accesible 24/7</span>
                      <span class="col-md-4"><input type="checkbox"> Pets welcome</span>
                      <span class="col-md-4"><input type="checkbox"> Secure Parking</span>
                    </div>
                    <div class="row margin-top-10">
                      <span class="col-md-4"><input type="checkbox"> House keeper</span>
                      <span class="col-md-4"><input type="checkbox"> Indoor swimming pool</span>
                      <span class="col-md-4"><input type="checkbox"> Smoking allowed</span>
                    </div>
                    <div class="form-group margin-top-10">
                      <label for="customFacts">Add custom facts about the property</label>
                      <textarea id="customFacts" class="form-control" rows="3"></textarea>
                    </div>

                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">Amenities</h4>
                </div>
                <div class="panel-collapse collapse in" aria-expanded="true">
                  <div class="panel-body">
                    <div class="row margin-top-10">
                      <span class="col-md-4"><input type="checkbox"> Dish Washer</span>
                      <span class="col-md-4"><input type="checkbox"> Stove / Oven</span>
                      <span class="col-md-4"><input type="checkbox"> Microwave</span>
                    </div>
                    <div class="row margin-top-10">
                      <span class="col-md-4"><input type="checkbox"> TV (DSTV)</span>
                      <span class="col-md-4"><input type="checkbox"> TV (Antenna)</span>
                      <span class="col-md-4"><input type="checkbox"> Tumble Dryer</span>
                    </div>

                    <div class="form-group margin-top-10">
                      <label for="customAmenities">Add custom amenities about the property</label>
                      <textarea id="customAmenities" class="form-control" rows="3"></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix">
                <button class="btn btn-info pull-right">Apply</button>
              </div>

              <!-- END TAB CONTENT -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
