<!-- BEGIN PAGE HEAD -->
<div class="page-head">
  <div class="container">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>Dashboard
        <small>heads up display of all your rentify data</small>
      </h1>
    </div>
    <!-- END PAGE TITLE -->
  </div>
</div>
<!-- END PAGE HEAD -->

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container">

  <h3>Here we can put widgets for data such as</h3>
    <ul>
      <li>current booked in clients at accomodation</li>
      <li>next client book in for arrival accross all accomodations</li>
      <li>tentative bookings that need attention</li>
      <li>reviews that need to be authorised or rejected</li>
    </ul>


    </div>
  </div>
